.jumbotron {
  background: #532F8C;
  color: white;
  padding-bottom: 80px;
}

.jumbotron .btn-primary {
  background: #845ac7;
  border-color: #845ac7;
}

.jumbotron .btn-primary:hover {
  background: #7646c1;
}

.jumbotron p {
  color: #d9ccee;
  max-width: 75%;
  margin: 1em auto 2em;
}

.navbar+.jumbotron {
  margin-top: -20px;
}

.jumbotron .lang-logo {
  display: block;
  background: #B01302;
  border-radius: 50%;
  overflow: hidden;
  width: 100px;
  height: 100px;
  margin: auto;
  border: 2px solid white;
}

.jumbotron .lang-logo img {
  max-width: 100%;
}

.no-top-marg {
  margin-top: 0;
}

.no-botom-marg {
  margin-bottom: 0;
}

.bottom-marg-10 {
  margin-bottom: 10px;
}

.bottom-marg-15 {
  margin-bottom: 15px;
}

.top-marg-10 {
  margin-top: 10px;
}

.left-marg-10 {
  margin-left: 10px;
}

.input-group-addon {
  min-width: 120px;
}

.fr {
  float: right;
}

.author span {
  color: #777;
}