<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'index')}">

<body ng-controller="UploadController">
  
  <div class="container-fluid">
    
    <div class="page-header no-top-marg">
      <h1>mvideoconverter 
        <small>
          <a href="https://github.com/matheusaraujo/mvideoconverter" target="_blank">github</a>
        </small>
      </h1>
    </div>

    <div class="row">
      
      <!-- The Upload Form -->
      <div class="col-md-5">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Upload The File</h3>
          </div>
          <div class="panel-body">
            <input class="bottom-marg-15" type="file" name="file" file></input>
            <a class="btn btn-primary btn-block btn-lg" ng-click="upload()" ng-disabled="started">Upload</a>
          </div>
        </div>
      </div>  
      
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">File info</h3>
          </div>
          <div class="panel-body">
            <ul>
              <li>Name:&nbsp;<strong>{{fileName}}</strong></li>
              <li>Type:&nbsp;<strong>{{fileType}}</strong></li>
              <li>Size:&nbsp;<strong>{{fileSize}}</strong></li>
              <li>Last modified date:&nbsp;<strong>{{fileDate | date:"yyyy-MM-dd:h:mma"}}</strong></li>
          </li>
            </ul>
          </div>
        </div>
      </div>
      
      <!-- The Progress Info -->
      <div class="col-md-3">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Progress</h3>
          </div>
          <div class="panel-body">
            <ul class="list-unstyled">
              <li>
                <i class="fa" ng-class="step1class"></i>
                Generate link
              </li>
              <li>
                <i class="fa" ng-class="step2class"></i>
                Upload file
              </li>
              <li>
                <i class="fa" ng-class="step3class"></i>
                Start convert file
              </li>
              <li>
                <i class="fa" ng-class="step4class"></i>
                File converted
              </li>
            </ul>
          </div>
        </div>
      </div>   
    </div>

    <div class="row">
      <div class="col-md-12 text-center">
          <video width="400" controls ng-if="finished" class="animate-if">>
            <source ng-src="{{trustSrc(videoUrl)}}" type="video/mp4">
            Your browser does not support HTML5 video.
          </video>
      </div>
    </div>

  </div>          
</body>

</html>